<div class="container">
<footer class="mastfoot mt-auto d-flex justify-content-around">
    <div class="inner">
        <p> By JSрать! <img src="/img/rat.jpg" style="width: 35px;"></a></p>
    </div>
</footer>
</div>
