<div class="container">
    <h3 class="d-flex justify-content-around">Возможно ошибка ввода логина или пароля.</h3>
    <a class="d-flex justify-content-around" href="/user/login">Повторить ввод.</a><br>
    <a class="d-flex justify-content-around" href="/user/signup">Если у вас нет регистрации, пройдите по ссылке!</a>
</div>
