<section class="row justify-content-center col col-lg-12">
<form method="post" action="/user/signup">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Логин</label>
            <input type="text" class="form-control" id="name" name="username" placeholder="Введите логин">

        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Пароль</label>
            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Введите пароль">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Введите email">
    </div>
    <div class="form-group">
        <label for="mob">Телефон</label>
        <input type="tel" class="form-control" id="mob" name="numberPhone" placeholder="Введите номер телефона">
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="roll" id="gridRadios1" value="admin-site" checked>
        <label class="form-check-label" for="gridRadios1">
            Админ-Сайта
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="roll" id="gridRadios2" value="administrator">
        <label class="form-check-label" for="gridRadios2">
            Администратор
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>




</section>


